* { 
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-box-sizing: border-box;
}

html, body { margin: 0; padding: 0; }

body,ul,li {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	overflow: hidden; /* this is important to prevent the whole page to bounce */
	background: #5FC22C;
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: transparent;
	overflow: hidden;
	
	-webkit-transition: all 750ms ease-out;
}

#scroller {
	position: absolute;
	z-index: 2;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 5000px;
	height: 100%;
	-webkit-transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

#scroller li {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	
	background-size: 100% auto;
}

#scroller li .video-loop,
#scroller li .video {
	display: block;
	width: 100%;
	height: auto;
	pointer-events: none;
	-webkit-transition: all 250ms ease-out;
}

#scroller li .video-loop {
	position: absolute;
	left:0;
	top:0;
	z-index: 3;
}

#scroller li .video-loop,
#scroller li .video { opacity: 1; }

#scroller li .video-loop.hidden,
#scroller li.poster .video-loop,
#scroller li.poster .video { opacity: 0; }

#parallax {
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
	overflow: hidden;
}

#parallax-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 5000px;
	bottom: 0;
	
	-webkit-transform: translateZ(0);
	white-space: nowrap;
}

#parallax-inner .frame {
	position: relative;
	display: block;
	float: left;
	width: 525px;
	height: 100%;
	margin:0;
	padding:0;
}

#parallax-inner .frame:first-child {
	margin-left: -75px; 
}

#parallax #parallax-inner .frame .frame-inner {
	position: absolute;
	width: 25%;
	height: auto;
	top: 0;
	bottom: 0;
	background-size: 100% auto;
	background-repeat: repeat-y;
}

#parallax-inner .frame .frame-inner:first-child { left: -20px; }
#parallax-inner .frame .frame-inner:last-child { right: -20px; }

